body {
    font-family: "Poppins", sans-serif;
    background-color: #030643;
    margin: 0;
   
  }
   
  .row {
    display: flex;
    justify-content: center;
    align-items:flex-end;
    width: 100%;
    gap: 50px;
    
  }
  
    
  
  .card:hover {
    cursor: pointer;
    background-color: #a9c3e8;
  }
   
  .card p {
    color: #000000;
    font-size: 10px;
    text-align: justify;

  }
  .green{
    background-color: #f1a5cf;
    border-radius: 6px;
    width: 250px;
    height: auto;
  }
  .blue{
    background-color: #f6b3d8;
    border-radius: 6px;
    width: 250px;
    height: auto
    
  }
  .red{
    background-color: #ffa7d7;
    border-radius: 6px;
    width: 250px;
    height: auto;
  }


   
  .image {
    width: 100%;
    margin-top: 6px;
    border-radius: 10px;
    margin-bottom: 20px;
    
  }
