.h3{
    margin ;

}
.um{
    margin: auto center;
    background-color: rgb(195, 195, 252);
    

}
.tabela{
    border: 4px rgb(0, 0, 0)
}
.copasulamericana{
    background-color: rgb(187, 240, 80);
    
    
    border: 2px solid rgb(0, 0, 0) ;
    border-radius
   
}
.pertodorebaixamento{
    background-color:color: od;s
    
    
    border: 2px solid rgb(4, 4, 4) ;
    border-radius
   
}
.rebaixamento{
    background-color: rgb(232, 248, 201);
    
    
    border: 2px solid rgb(4, 4, 4) ;
    border-radius
   
}
.libertadores{
    background-color: rgb(232, 248, 201);
    
    
    border: 2px solid rgb(4, 4, 4) ;
    border-radius
   
}