.h3{
    margin: 0 ;

}
.um{
    margin: auto center;
    background-color: rgb(195, 195, 252);
    

}
.tabela{
    border: 4px rgb(0, 0, 0)
}
.copasulamericana{
    background-color: rgb(187, 240, 80);
    
    
    border: 2px solid rgb(0, 0, 0) ;
    border-radius: 8px;
   
}
.pertodorebaixamento{
    background-color: yellow;
    border: 2px;
    border-radius:8px;
   
}
.rebaixamento{
    background-color: rgb(232, 248, 201);
    
    
    border: 2px solid rgb(4, 4, 4) ;
    border-radius: 2px;
   
}
.libertadores{
    background-color: rgb(232, 248, 201);
    
    
    border: 2px solid rgb(4, 4, 4) ;
    border-radius: 3px;
   
}